<!DOCTYPE html>
<html>
<head>
    {% load static %}
  <title>Авторизация</title>
  <link rel="stylesheet" type="text/css" href="{% static 'article.css' %}">
</head>
<body>
  <h2>Авторизация</h2>
  <form method="post">
    {% csrf_token %}
    <label for="username">Имя пользователя:</label>
    <input type="text" id="username" name="username" required><br>
    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password" required><br>
    <input type="submit" value="Войти">
  </form>
</body>
</html>
